In [107]:
import pandas as pd
x=pd.read_csv('0000000000002747_training_twitter_x_y_train.csv')

In [108]:
x.head(3)

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)

In [109]:
x.drop(columns=['retweet_count','tweet_coord','negativereason_gold','airline_sentiment_gold'],axis=1)

,tweet_id,airline_sentiment,airline,name,text,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,ColeyGirouard,"@SouthwestAir I am scheduled for the morning, ...",2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,WalterFaddoul,@SouthwestAir seeing your workers time in and ...,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,LocalKyle,@united Flew ORD to Miami and back and had gr...,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,amccarthy19,@SouthwestAir @dultch97 that's horse radish üò§üê¥,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,J_Okayy,@united so our flight into ORD was delayed bec...,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...
10975,569934458364813313,neutral,American,Cottopanama85,@AmericanAir followback,2015-02-23 10:58:58 -0800,"ohio,panama",NaN
10976,568564006329434113,positive,United,PaulBEsteves,@united thanks for the help. Wish the phone re...,2015-02-19 16:13:17 -0800,Brooklyn,Eastern Time (US & Canada)
10977,569643648910028801,negative,US Airways,runfixsteve,@usairways the. Worst. Ever. #dca #customerser...,2015-02-22 15:43:24 -0800,"St. Augustine, Florida",NaN
10978,568864981917110272,negative,US Airways,CLChicosky,@nrhodes85: look! Another apology. DO NOT FLY ...,2015-02-20 12:09:15 -0800,NaN,NaN
10979,568929299350179840,negative,United,JW_Blocker,@united you are by far the worst airline. 4 pl...,2015-02-20 16:24:49 -0800,NaN,NaN

In [110]:
y_train=list(x['airline_sentiment'])

In [111]:
x_train=list(x['text'])

In [112]:
# x_train

In [113]:
import string
from nltk.corpus import stopwords
stop=set(stopwords.words('english'))
punctuations=string.punctuation
stop.update(list(punctuations))

In [114]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [115]:
from nltk.corpus import wordnet
def get_simple_pos_tag(tag):
    if(tag.startswith('J')):
        return wordnet.ADJ
    elif(tag.startswith('V')):
        return wordnet.VERB
    elif(tag.startswith('N')):
        return wordnet.NOUN
    elif(tag.startswith('R')):
        return wordnet.ADJ
    else:
        return wordnet.NOUN

In [116]:
def clean_review(words):
    output_words=[]
    for w in words:
        if(w.lower() not in stop):
            pos=pos_tag([w])
            tag=get_simple_pos_tag(pos[0][1])
            clean_word=lemmatizer.lemmatize(w,pos=get_simple_pos_tag(tag))
            output_words.append(clean_word)
    return output_words

In [117]:
from nltk import pos_tag
from nltk.tokenize import word_tokenize
document=[word_tokenize(doc) for doc in x_train]

In [118]:
# document

In [119]:
x_train2=[clean_review(doc) for doc in document]

In [120]:
# x_train2

In [121]:
x_train3=[' '.join(doc) for doc in x_train2]

In [122]:
# x_train3

In [123]:
#using tfidf vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer()
X=cv.fit_transform(x_train3)

In [124]:
X

<10980x12147 sparse matrix of type '<class 'numpy.float64'>'
	with 110529 stored elements in Compressed Sparse Row format>

In [125]:
# cv.get_feature_names()

In [126]:
testing_data=pd.read_csv('0000000000002747_test_twitter_x_test.csv')

In [127]:
testing_data.head(2)

,tweet_id,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,569682010270101504,American,NaN,zsalim03,NaN,0,@AmericanAir In car gng to DFW. Pulled over 1h...,NaN,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)
1,569608307184242688,American,NaN,sa_craig,NaN,0,"@AmericanAir after all, the plane didn‚Äôt land ...",NaN,2015-02-22 13:22:57 -0800,"College Station, TX",Central Time (US & Canada)

In [128]:
testing_data.drop(columns=['retweet_count','tweet_coord','negativereason_gold','airline_sentiment_gold'],axis=1)

,tweet_id,airline,name,text,tweet_created,tweet_location,user_timezone
0,569682010270101504,American,zsalim03,@AmericanAir In car gng to DFW. Pulled over 1h...,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)
1,569608307184242688,American,sa_craig,"@AmericanAir after all, the plane didn‚Äôt land ...",2015-02-22 13:22:57 -0800,"College Station, TX",Central Time (US & Canada)
2,567879304593408001,Southwest,DanaChristos,@SouthwestAir can't believe how many paying cu...,2015-02-17 18:52:31 -0800,CT,Eastern Time (US & Canada)
3,569757651539660801,US Airways,rossj987,@USAirways I can legitimately say that I would...,2015-02-22 23:16:24 -0800,"Washington, D.C.",Eastern Time (US & Canada)
4,569900705852608513,American,tranpham18,@AmericanAir still no response from AA. great ...,2015-02-23 08:44:51 -0800,New York City,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...
3655,570304244001193984,US Airways,Anthony_Scerri,@USAirways Been stuck for 40+ minutes due to l...,2015-02-24 11:28:22 -0800,"Astoria, NY",Quito
3656,567847737061941249,US Airways,mttdprkr,@USAirways 4 hours... 4 hours... FOUR HOURS. ...,2015-02-17 16:47:05 -0800,"Vancouver, WA",Pacific Time (US & Canada)
3657,567823564167192576,Virgin America,miaerolinea,Nice RT @VirginAmerica: The man of steel might...,2015-02-17 15:11:02 -0800,Worldwide,Caracas
3658,570273819287531520,American,GoldensPleasure,@AmericanAir Aww Thanks AA..DFW was on GMA up ...,2015-02-24 09:27:28 -0800,East Coast CT.,Central Time (US & Canada)
3659,569341769114128386,United,suntoshi,@united the lounge tells us they have no pillo...,2015-02-21 19:43:50 -0800,"Bedford, Nh",Eastern Time (US & Canada)

In [129]:
# y_test=list(testing_data['airline_sentiment'])
x_test=list(testing_data['text'])
document_test=[word_tokenize(doc) for doc in x_test]
x_test2=[clean_review(doc) for doc in document_test]

In [130]:
x_test3=[' '.join(doc) for doc in x_test2]

In [131]:
X_test=cv.transform(x_test3)

In [132]:
X_test

<3660x12147 sparse matrix of type '<class 'numpy.float64'>'
	with 34512 stored elements in Compressed Sparse Row format>

# Using Random Forests

In [133]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(random_state=0)
clf.fit(X,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [134]:
y_pred=clf.predict(X_test)

In [135]:
y_pred

array(['negative', 'negative', 'negative', ..., 'neutral', 'positive',
       'negative'], dtype='<U8')

In [136]:
arr=list(y_pred)

In [140]:
import numpy as np
np.savetxt("predictions_forest.csv", y_pred,fmt = '%s')

# Using SVM

In [144]:
from sklearn import svm
from sklearn.model_selection import GridSearchCV
clf=svm.SVC()
grid={'C':[1e2,1e3,5e3,1e4,5e4,1e5],'gamma':[1e-3,5e-4,1e-4,5e-3]}
abc=GridSearchCV(clf,grid)
abc.fit(X,y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [100.0, 1000.0, 5000.0, 10000.0, 50000.0,
                               100000.0],
                         'gamma': [0.001, 0.0005, 0.0001, 0.005]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [145]:
y_test=abc.predict(X_test)

In [147]:
np.savetxt("predictions_svm.csv", y_test,fmt = '%s')